.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 450px) {
  .addButton {
    padding: 10px
  }
  .addButton span {
    display: none;
  }
}
