.dock {
  position: fixed;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  padding: 15px 25px;
  background-color: var(--secondary);
  border-radius: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 12px;
  transition: all 0.1s ease-in;
  color: var(--primary-light-foreground);
}

.link:hover:not(.active) {
  background-color: var(--secondary-light);
}

.active {
  background-color: var(--primary);
  color: white;
}

@media (340px <= width <= 450px) {
  .dock {
    transform: translateX(-50%) scale(0.8);
  }
}
