.header {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
}

.headerTitle h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: bold;
}

.header p {
  margin: 0 0 5px 0;
}